* {
  box-sizing: border-box;
}

body {
  background-color: #c0d6ed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family:cursive;
}
.correct {
  color: green;
}
.incorrect {
  color: rgb(234, 76, 76);
  text-decoration: underline;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ranOut{
  color: rgb(234, 76, 76);
  font-size: 50px;
}
.buttonReload{
  border-radius: 10px;
  padding: 10px;
  padding-inline: 20px;
  outline: transparent;
  border: 5px;
  margin-top: 30px;
  border: #fff 2px solid;
  transition: background-color 0.5s ease-out;
}
.buttonReload:hover{
  background-color: #5E6873;
  color: white;
  border: #fff 2px solid;

}
button {
  cursor: pointer;
  font-size: 18px;
  outline: none;
  /* border-radius: 4px; */
  padding: 5px 15px;
}

select {
  width: 200px;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #a7c5e3;
}

select:focus,
button:focus {
  outline: 0;
}

.settings-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 70px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.settings > div > a {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  padding: 8px;
  transition: background-color 0.5s ease-out;
}
.settings > div > a:hover {
  background-color: #5E6873;
}
#settings-form{
  color: white;
  font-size: 30px;
}
#difficulty {
  font-size: 25px; /* or any other value you prefer */
  font-family: Arial, sans-serif; /* or any other font you prefer */
  color: #333; /* or any other color you prefer */
  border: 2px solid #ccc; /* or any other border style you prefer */
  border-radius: 5px; /* or any other border-radius you prefer */
  padding: 10px; /* or any other padding you prefer */
  background-color: #f9f9f9; /* or any other background-color you prefer */
}

.settings.hide {
  transform: translateY(-100%);
}
#word{
  font-size: 55px;
  padding-block: 15px;
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}
.container {
  background-color: #01464e;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 15px 17px rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  border-radius: 20px;
  height: 40vh;
}
.container > small{
  font-size: 20px;
}

.container > input{
  font-size: larger;
}
.settings div h2 {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
}
.settings div h2:hover{
  background-color: rgba(0, 0, 0, 0.3);
}


h1 {
  margin: 0;
}

input {
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
}

.score-container {
  position: absolute;
  top: 15px;
  font-size: x-large;
  right: 20px;
}

.time-container {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: x-large;
}

.end-game-container {
  background-color: inherit;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
